<div class="map" #map id="map" style="width: 100%; height: 532.2px;"></div>
<input type="checkbox" [(ngModel)]="findMap" (click)="findMaping()"> get Ellipse
<br>
<input type="checkbox" [(ngModel)]="findMap2" (click)="findMaping2()"> get Map
<br>
<input type="checkbox" [(ngModel)]="findMarker" (click)="addMarker()"> add Markers
<br>
<input type="checkbox" [(ngModel)]="findMarker2" (click)="addMarker2()"> add Markers2
<br>
<input type="checkbox" [(ngModel)]="findLine" (click)="addLine()"> add Line
<br>
<input type="checkbox" [(ngModel)]="findPolygone" (click)="addPolygone()"> add Polygone
<br>
<!--<input type="text" [(ngModel)]="zooms">-->
